# 7 Pamoka

In [4]:
# !pip3 install pandas
# !pip3 install numpy

In [6]:
import pandas as pd
import numpy as np

In [35]:
top = pd.read_csv("https://raw.githubusercontent.com/nikipaj1/teaching/main/pamoka_7/top50.csv", encoding="ISO-8859-1")

In [36]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

`Exploratory Data Analysis`

In [37]:
top['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

In [38]:
len(top['Genre'].unique())

21

In [39]:
top['Genre'].nunique()

21

In [18]:
top['Genre'].value_counts()

dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: Genre, dtype: int64

## .apply() metodas

In [40]:
# user defined function (UDF)

def minutes_seconds(s):
    minutes = s // 60
    seconds = s % 60
    if len(str(seconds)) < 2:
        return f'{minutes}:0{seconds}'
    return f'{minutes}:{seconds}'

In [41]:
minutes_seconds(350)

'5:50'

In [42]:
'''
    UDF -> .apply(UDF)
            ->  row -> value -> minute_seconds(value) -> return value -> 
'''
top['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

In [43]:
top['Length.Pretty'] = top['Length.'].apply(minutes_seconds)

In [44]:
top[['Track.Name', 'Length.Pretty']].head()

                        Track.Name Length.Pretty
0                         Señorita          3:11
1                            China          5:02
2    boyfriend (with Social House)          3:06
3  Beautiful People (feat. Khalid)          3:18
4      Goodbyes (Feat. Young Thug)          2:55

In [45]:
top['kintamasis'] = top['Energy'] + top['Danceability']

`lambda funkcijos`

In [49]:
top['Energy'].apply(lambda x: round(x/10)).head()

0    6
1    8
2    8
3    6
4    6
Name: Energy, dtype: int64

In [50]:
top['Energy'].head()

0    55
1    81
2    80
3    65
4    65
Name: Energy, dtype: int64

### Naudingos Funkcijos

In [51]:
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty', 'kintamasis'],
      dtype='object')

In [52]:
top.shape

(50, 16)

In [53]:
top.sort_values('Track.Name').head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty,kintamasis
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,2:56,149
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59,110
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42,154
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18,129
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,3:38,129

In [58]:
top.isnull().head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty,kintamasis
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [60]:
top['Acousticness..'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: Acousticness.., dtype: bool

### Duomenu nuskaitymas / irasymas

CSV

In [64]:
data = pd.read_csv("../pamoka_5/data.csv")

In [65]:
data.head()

,Unnamed: 0,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968

In [67]:
data.to_csv("res.csv", index=False)

XLS

In [ ]:
data.to_excel("duomenys.xls", sheet_name='example_1')

In [74]:
pd.read_excel("duomenys.xls", "example_1")

,Unnamed: 0.1,Unnamed: 0,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,0,0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,1,1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,2,2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,3,3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,4,4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...,...,...,...
98,98,98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
99,99,99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
100,100,100,Smalininkai,446,515,653,758,805,952,1100,1741,0
101,101,101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
102,102,102,Panemunė,210,274,329,398,506,545,539,637,0