# Pasikartokime

## 1. NumPy

1. Parašykite NumPy programą, kad sukurtumėte 3x3 tapatybės matricą, t. y. įstrižainės yra 1, o likusieji yra 0.

2. Parašykite NumPy programą, kad sukurtumėte naują nurodytos formos (5,6) ir tipo masyvą, užpildytą nuliais.

3. Write a NumPy program to create a 4x4 array, now create a new array from the said array swapping first and last, second and third columns.

4. Parašykite NumPy programą, kad konvertuotumėte Celsijaus laipsnių reikšmes į Farenheito laipsnius ir atvirkščiai. Reikšmės saugomos NumPy masyve.

Sample Array 

[0, 12, 45.21, 34, 99.91]


Expected Output:

[-17.78, -11.11, 7.34, 1.11, 37.73, 0. ]

Values in Fahrenheit degrees:


[ 0. 12. 45.21 34. 99.91 32. ]


Values in Centigrade degrees:


[-17.78 -11.11 7.34 1.11 37.73 0. ]


5 Parašykite NumPy programą, kad būtų rodomos visos 2017 m. kovo mėnesio datos.


Expected Output:


March, 2017


['2017-03-01' '2017-03-02' '2017-03-03' '2017-03-04' '2017-03-05'
'2017-03-06' '2017-03-07' '2017-03-08' '2017-03-09' '2017-03-10'
'2017-03-11' '2017-03-12' '2017-03-13' '2017-03-14' '2017-03-15'
'2017-03-16' '2017-03-17' '2017-03-18' '2017-03-19' '2017-03-20'
'2017-03-21' '2017-03-22' '2017-03-23' '2017-03-24' '2017-03-25'
'2017-03-26' '2017-03-27' '2017-03-28' '2017-03-29' '2017-03-30'
'2017-03-31']

## 2. Pandas

### 1 JAV - Nusikalstamumas - 1960 - 2014

Importuokite duomenų rinkinį iš šio [adreso](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).


Kokie yra stulpelių šio df duomenų tipai?

Konvertuokite stulpelio Year tipą į datetime64

Nustatykite Metų stulpelį kaip duomenų rėmelio (dataframe) indeksą

Ištrinkite stulpelį Total

Sugrupuokite metus pagal dešimtmečius ir susumuokit vertes

Atkreipkite dėmesį į stulpelio „Gyventojų skaičius“ numerį, sumuoti šį stulpelį nereikėtų

Koks yra pavojingiausias dešimtmetis gyventi JAV?

### 2 UCI Bank Marketing dataset


Panagrinėkite pandų dataframe head()


Patikrinkite atsitiktinių 10 eilučių iš duomenų rėmelio (dataframe)

Patikrinkite duomenų rinkinio uodegą/pabaigą (tail) – paskutinius duomenų rinkinio įrašus


Kokia yra pandų duomenų rinkinio forma?

Kokie yra stulpelių pavadinimai?

Kas yra pandų dataframe indekso diapazonas?

Atspausdinkite aprašomąją visų skaitmeninių kintamųjų statistiką

Pervardykite visus stulpelius, šiuo atveju pašalinkite taškus

Sukurkite histogramą amžiaus stulpeliui, kurio bins dydis = 50


Patikrinkite null vertes užduoties stulpelyje

patikrinkite įvairias kategorines reikšmes ir jų value_counts

Job stulpelyje priskirkite nežinomai reikšmei – dažniausiai pasitaikančią reikšmę

Kategorines reikšmes konvertuokit į skaitines reikšmes

Sujunkite kategorinius ir skaitinius dataframe

Sukurkite suvestinę lentelę (pivot_table) su indeksu job, stulpeliais kaip education ir vertėmis kaip amžiumi

Sukurkite dataframe koreliacijos heatmap

# Machine Learning

Pasiimkite duomenis loan_data.csv

Pasianalizuokite duomenis taip, kaip darėme pamokų metu. Pabandykite nubraizyti grafiku, kurie jums parodys, ar yra įdomių koreliacijų ir pabandykite pritaikyti išmoktus modelius. Koks modelis geraiusiai veikia šitiems duomenims?