In [2]:
import sqlite3

In [ ]:
conn = sqlite3.connect('zmones_1.db')
cursor = conn.cursor()

query = '''
CREATE TABLE draugai (
    f_name VARCHAR(50),
    l_name VARCHAR(50),
    email VARCHAR(100)
);
'''

cursor.execute(query)
conn.commit()
conn.close()

INSERT

In [21]:
insert_query = '''
INSERT INTO draugai (f_name, l_name, email)
VALUES ("Rimas", "Radzevičius", "RR@gmail.com")
'''

In [22]:
conn = sqlite3.connect("zmones_1.db")
c = conn.cursor()

with conn:
    c.execute(insert_query)

In [19]:
# conn = sqlite3.connect("zmones_1.db")
# c = conn.cursor()
# with conn:
#     cursor.execute("SELECT * FROM draugai;")
#     print(cursor.fetchall())

IRASU PAIESKA

In [26]:
with conn:
    c.execute('''
    SELECT * 
    FROM draugai
    WHERE email like "%ponas%"''')
    res = c.fetchall()

    # fetchone() <- grazina pirma rezultata, jei daugiau nei vienas

In [27]:
res

[('Jonas', 'Virsaitis', 'ponasjonas@gmail.com')]

UPDATE & DELETE

In [28]:
with conn:
    c.execute("UPDATE draugai SET email='naujas.email@aol.com' WHERE email like '%ponas%'")

In [34]:
with conn:
    c.execute("DELETE from draugai WHERE l_name='Radzevičius'")

In [52]:
conn.close()

Dinamines Uzklausos

In [42]:
conn = sqlite3.connect("zmones.db")
c = conn.cursor()

vardas = input("Įvesite vardą: ")
with conn:
    c.execute("SELECT * FROM draugai WHERE f_name =?", (vardas, )) ## saugu
    res = c.fetchall()

if res:
    print(res)
else:
    print("Nėra tokio vardo!")

Nėra tokio vardo!

`'OR 1=1--`

SELECT * From draugai WHERE f_name = '' OR 1=1--'

## executemany()

In [43]:
draugai = [
    ('Jonas', 'Jonaitis', 'jjonaitis@mail.lt'),
    ('Petras', 'Miltelis', 'petras@pastas.lt'),
    ('Inga', 'Guobytė', 'ingag@koksskirtumas.lt')
]

In [45]:
conn = sqlite3.connect("zmones_1.db")
c = conn.cursor()
with conn:
    c.executemany("INSERT INTO draugai VALUES(?,?,?)", draugai)

In [46]:
with conn:
    c.execute('''
    SELECT * 
    FROM draugai''')
    res = c.fetchall()

In [47]:
res

[('Jonas', 'Virsaitis', 'naujas.email@aol.com'),
 ('Jonas', 'Jonaitis', 'jjonaitis@mail.lt'),
 ('Petras', 'Miltelis', 'petras@pastas.lt'),
 ('Inga', 'Guobytė', 'ingag@koksskirtumas.lt')]

## Rowid

In [48]:
ids = (1, 2, 3)

with conn:
    c.execute("SELECT * FROM draugai WHERE rowid IN (?,?,?)", ids)
    print(c.fetchall())

[('Jonas', 'Virsaitis', 'naujas.email@aol.com'), ('Jonas', 'Jonaitis', 'jjonaitis@mail.lt'), ('Petras', 'Miltelis', 'petras@pastas.lt')]