# 5 Pamoka

## Pandas

In [1]:
import pandas as pd
import numpy as np

## Panda Serijos (Series)

In [3]:
labels = ['x', 'y', 'z']
data = [20, 30, 40]

In [4]:
pd.Series(data=data)

0    20
1    30
2    40
dtype: int64

In [5]:
pd.Series(data=data, index=labels)

x    20
y    30
z    40
dtype: int64

In [6]:
zodynas = {'x': 20, 'y': 30, 'z': 40}

In [9]:
zodynas = dict(x=20, y=30, z=40)

In [11]:
print(pd.Series(zodynas))

x    20
y    30
z    40
dtype: int64

In [12]:
serija = pd.Series(zodynas)
print(serija)

x    20
y    30
z    40
dtype: int64

In [15]:
serija = pd.Series([1,2,3,4,5], ['Vilnius', 'Kaunas', 'Klaipeda', 'Panevezys', 'Siauliai'])

In [16]:
serija

Vilnius      1
Kaunas       2
Klaipeda     3
Panevezys    4
Siauliai     5
dtype: int64

In [17]:
serija['Vilnius']

1

## Operacijos su Serijomis

In [27]:
serija_1 = pd.Series([1,2,3,4,5], ['Vilnius', 'Kaunas', 'Lentvaris', 'Siauliai', 'Klaipeda'])

In [32]:
serija + serija_1

Kaunas       4.0
Klaipeda     8.0
Lentvaris    NaN
Panevezys    NaN
Siauliai     9.0
Vilnius      2.0
dtype: float64

In [30]:
serija[0]

1

# DataFrame

In [4]:
input_ = np.random.rand(5,6)

In [7]:
input_

array([[0.24119187, 0.0343556 , 0.22715563, 0.91893112, 0.14309811,
        0.28015998],
       [0.56547751, 0.37607914, 0.26065361, 0.68112507, 0.78486506,
        0.46135829],
       [0.33367087, 0.56938878, 0.15479432, 0.59102674, 0.76742774,
        0.13117766],
       [0.81005528, 0.66033817, 0.28317684, 0.23085583, 0.86425919,
        0.06824545],
       [0.47271081, 0.71890513, 0.20206701, 0.21086613, 0.55744948,
        0.84460253]])

In [25]:
df = pd.DataFrame(input_, ['a', 'b', 'c', 'd', 'e'], ['U', 'V', 'W', 'X', 'Y', 'Z'])

In [26]:
df

          U         V         W         X         Y         Z
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

In [27]:
df['U']

a    0.241192
b    0.565478
c    0.333671
d    0.810055
e    0.472711
Name: U, dtype: float64

In [28]:
type(df['U'])

pandas.core.series.Series

In [29]:
df[['U', 'Y', 'Z']]

          U         Y         Z
a  0.241192  0.143098  0.280160
b  0.565478  0.784865  0.461358
c  0.333671  0.767428  0.131178
d  0.810055  0.864259  0.068245
e  0.472711  0.557449  0.844603

In [30]:
df['naujas'] = [1,2,3,4,5]

In [33]:
df.drop('naujas', axis=1)

`axis=0`, apply column-wise

`axis=1`, apply row-wise

In [34]:
df

          U         V         W         X         Y         Z
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

In [ ]:
df.drop('naujas', axis=1, inplace=True)

In [35]:
df.drop('e')

          U         V         W         X         Y         Z
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245

## Eilučių Traukimas

In [38]:
df

          U         V         W         X         Y         Z
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

In [37]:
df.loc['e']

U    0.472711
V    0.718905
W    0.202067
X    0.210866
Y    0.557449
Z    0.844603
Name: e, dtype: float64

In [39]:
df.iloc[4]

U    0.472711
V    0.718905
W    0.202067
X    0.210866
Y    0.557449
Z    0.844603
Name: e, dtype: float64

Subsets

In [40]:
df.loc['d', 'Z']

0.06824544991292147

In [41]:
df.loc[['a', 'c'], ['U', 'V', 'Z']]

          U         V         Z
a  0.241192  0.034356  0.280160
c  0.333671  0.569389  0.131178

#### Eilučių filtravimas pagal sąlygą

In [42]:
df

          U         V         W         X         Y         Z
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

In [45]:
df[df > 0.4]

          U         V   W         X         Y         Z
a       NaN       NaN NaN  0.918931       NaN       NaN
b  0.565478       NaN NaN  0.681125  0.784865  0.461358
c       NaN  0.569389 NaN  0.591027  0.767428       NaN
d  0.810055  0.660338 NaN       NaN  0.864259       NaN
e  0.472711  0.718905 NaN       NaN  0.557449  0.844603

In [46]:
df[df['V'] > 0.4]

          U         V         W         X         Y         Z
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

užklausų kombinavimas

In [48]:
df[df['V'] > 0.4][['U', 'V']]

          U         V
c  0.333671  0.569389
d  0.810055  0.660338
e  0.472711  0.718905

In [53]:
df[(df['U'] > 0.5) & (df['Z']<1.)] # OR |       AND &

          U         V         W         X         Y         Z
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245

## indeksu operacijos

In [54]:
df

          U         V         W         X         Y         Z
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

In [55]:
df.reset_index()

  index         U         V         W         X         Y         Z
0     a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
1     b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
2     c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
3     d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
4     e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

In [56]:
naujas_indeksas = ['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Panevezys']

In [57]:
naujas_indeksas

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Panevezys']

In [58]:
df['Miestai'] = naujas_indeksas

In [59]:
df

          U         V         W         X         Y         Z    Miestai
a  0.241192  0.034356  0.227156  0.918931  0.143098  0.280160    Vilnius
b  0.565478  0.376079  0.260654  0.681125  0.784865  0.461358     Kaunas
c  0.333671  0.569389  0.154794  0.591027  0.767428  0.131178   Klaipeda
d  0.810055  0.660338  0.283177  0.230856  0.864259  0.068245   Siauliai
e  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603  Panevezys

In [60]:
df.set_index('Miestai')

                  U         V         W         X         Y         Z
Miestai
Vilnius    0.241192  0.034356  0.227156  0.918931  0.143098  0.280160
Kaunas     0.565478  0.376079  0.260654  0.681125  0.784865  0.461358
Klaipeda   0.333671  0.569389  0.154794  0.591027  0.767428  0.131178
Siauliai   0.810055  0.660338  0.283177  0.230856  0.864259  0.068245
Panevezys  0.472711  0.718905  0.202067  0.210866  0.557449  0.844603

## Uzduotys

In [63]:
df = pd.read_csv("https://raw.githubusercontent.com/nikipaj1/teaching/main/pamoka_5/uzduotys/miestai_isvalyti.csv")

In [67]:
df.to_csv("uzduotys/data.csv")

In [68]:
df = pd.read_csv("uzduotys/data.csv")